title {
  display: hidden;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* box-sizing: border-box; */
  display: inline-block;
  padding-bottom: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  font-size: xx-large;
  padding: 1.5rem;
  width: 100%;
  color: white;
  background-color: black;
  background-image: url('https://cutewallpaper.org/21/pokeballs-wallpapers/pokeball-discovered-by-sakura-on-We-Heart-It.png');
  
}

header b {
  display: inline-flex;
}

html header h1 {
  font-family: black;
  color: black;
  -webkit-text-stroke: 1px white;
  font-size: 48px;
  padding-left: 1rem;
}

label {
  margin: 0;
  padding-right: 0.5em;
  padding-left: inherit;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

h3.pkmn {
 font-size: x-large;
}

#title-img {
  width: 300px;
  height: 100px;
  object-fit: cover;
}

#sim-img {
  object-fit: contain;
  width: 252px;
    height: 117px;
    padding-left: 1rem;
}

#pokeList {
  display: flex;
  overflow-x: auto;
  margin: 1rem 0;
  max-width: calc(100vw - 2rem);
}


#pokeList img {
  flex: 0 1 auto;
  height: 150px;
  margin-right: 0.5rem;
  cursor: pointer;
}

#pokeList img:last-child {
  margin-right: 0;
}

#filter {
  padding-bottom: .5em;
}

#yourPokeDiv {
  align-self: start;
  padding-right: 6em;
  display: inline-block;
}


#rivalPokeDiv {
  align-self: end;
  padding-left: 6em;
  display: inline-block;
}

#escape-text{
    position: relative;
    right: 40px
}

#escape-text {
    animation: blinker 1.5s step-start infinite;
    color:rgb(176, 23, 222)
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

#choosePkmn {
  margin: 1rem 0;
  width: 495px;
  display: flex;
  flex-direction: row;
  align-items: normal;
}

html img#yourPkmnBattler.choosePkmn {
  width: 200px;
  height: auto;
  padding-left: 3.5em;
}

html img#rivalPkmnBattler.choosePkmn {
  width: 200px;
  height: auto;
  padding-left: 3.5em;
}


/* #footer-img {
  width: 200px;
  height: 88px;
  position: fixed;
  margin: 14em 29em;
} */

.detail-image {
  height: 350px;
}

input,
textarea {
  font-size: 1rem;
  border: 1px solid black;
  background-color: white;
  padding: 0.5rem;
  margin: 0.25rem 0;
  width: 100%;
}

input[type="submit"] {
    background: #f9a9a9;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
    margin-left: 1em;
}
input:hover[type="submit"]{
    background: #bc0101;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
    margin-left: 1em;
}

input[type="submit"]:active {
  background-color: gray;
  margin-left: 1em;
}

form h4 {
  width: 100%;
  padding: 0.25rem;
  margin: 0.5rem 0;
  color: white;
  background-color: black;
}

h2.idNum {
  font-size: x-large;
  margin-top: 0;
}

img.choosePkmn {
  padding-right: 3em;
  padding-left: 1rem;
  display: block;
}

.spacer {
  display: hidden;
  width: auto;
  height: 3em;
  color: transparent;
}