/* stolen from the ramen lab to get some ideas hehehe */


title {
  display: hidden;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* box-sizing: border-box; */
  display: inline-block;
  padding: 1rem;
  text-align: center;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  font-size: xx-large;
  padding: 1.5rem;
  width: 100%;
  color: white;
  background-color: black;
  background-image: url('/Users/brittanykelly/Development/code/phase-1/projects/poke-battle-sim/contents/pokeball header bg.png');
  
}

header b {
  display: inline-flex;
}

html header h1 {
  font-family: black;
  color: black;
  -webkit-text-stroke: 1px white;
  font-size: 48px;
  padding-left: 1rem;
}

label {
  margin: 0;
  padding-right: 0.5em;
  padding-left: inherit;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

#title-img {
  width: 300px;
  height: 100px;
  object-fit: cover;
}

#sim-img {
  object-fit: contain;
  width: 252px;
    height: 117px;
    padding-left: 1rem;
}

#pokeList {
  display: flex;
  overflow-x: auto;
  margin: 1rem 0;
  max-width: calc(100vw - 2rem);
}


#pokeList img {
  flex: 0 1 auto;
  height: 150px;
  margin-right: 0.5rem;
  cursor: pointer;
}

#pokeList img:last-child {
  margin-right: 0;
}


#yourPokeDiv {
  align-self: baseline;
  padding-left: 15em;
}


#rivalPokeDiv {
  align-self: end;
  position: absolute;
    padding-top: 30.01em;
    padding-right: 15em;
}

#escape-text{
    position: relative;
    right: 40px
}

#escape-text {
    animation: blinker 1.5s step-start infinite;
    color:rgb(176, 23, 222)
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

#choosePkmn {
  margin: 1rem 0;
  padding: inherit;
  width: 495px;
  display: flex;
  flex-direction: row;
  align-items: normal;
}

#footer-img {
  width: 200px;
    height: 88px;
    position: fixed;
    margin: 21em;
}

.detail-image {
  height: 350px;
}

input,
textarea {
  font-size: 1rem;
  border: 1px solid black;
  background-color: white;
  padding: 0.5rem;
  margin: 0.25rem 0;
  width: 100%;
}

input[type="submit"] {
    background: #f9a9a9;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
    margin-left: 1em;
}
input:hover[type="submit"]{
    background: #bc0101;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
    margin-left: 1em;
}

input[type="submit"]:active {
  background-color: gray;
  margin-left: 1em;
}

form h4 {
  width: 100%;
  padding: 0.25rem;
  margin: 0.5rem 0;
  color: white;
  background-color: black;
}

h2.idNum {
  font-size: x-large;
  margin-top: 0;
}

img.choosePkmn {
  padding-right: 3em;
  padding-left: 1rem;
}